.add_file {
    position: relative;
    overflow: hidden;
}
.add_file_icon {
    position: relative;
    float: left;
    margin: 0 10px 10px 0;
}
.add_file_name {
    position: relative;
    margin: 0 0 10px;
}